*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--third-color);
    color: var(--fourth-color);
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}
input{
   width: 100%;
   height: 30px;
   outline: none; 
   border: none;
   background: var(--second-color);
   margin: 8px 0px;
   border-radius: 4px;
   padding: 8px;
   color: var(--fourth-color);
}
 input:focus {
    background: var(--first-color);
    transform: scale(1.1);
    margin:8px;
 }
 .price input{
    width: 20%;
 }
 #total{
    background: #be423a;
    padding:4px 2px;
    border-radius: 4px;
 }
 #total::before {
  content: "total: "
 }
 button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: var(--fifth-color);
    color: var(--fourth-color);
    border-radius: 20px;
    transition: 0.5s;
 }
 button:hover{
    background: var(--six-color);
    letter-spacing: 1px;
 }
 .btnSearch{
    display: flex;
    justify-content: space-between;
 }
 .btnSearch button{
    width: 45%;
 }
 table{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
 }
  table th{
    text-transform: uppercase;
  }
  th ,td {
    padding: 5px;
    color: var(--fourth-color);
  }
  #deleteAll {
   margin: 20px;
   
  }

  
  :root{
   --third-color:  #222;
   --first-color: #000;
   --second-color : #111 ;
   --fourth-color : #fff ;
   --fifth-color :  #390053; 
   --six-color : #51025f; 

  }
  
  .light-mode{

   
   --third-color:  #fff;
   --first-color: #c5d4e4;
   --second-color : rgb(223, 230, 239) ;
   --fourth-color : #000 ;
   --fifth-color :  #95bfef; 
   --six-color : #be423a; 

       


  }
  
  
  
  
  
  .mood {
   align-items: center;
   text-align: center;
   color: #a00d02;
  }
  #icon{
   width: 30px;
   cursor: pointer;
  }